.choiceList-wrapper {
  display: flex;
  flex-wrap: wrap;
  

}

.form-image img {
  width: 500px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(135, 219, 237);
}

.recipe__image {
 width: 300px;
 height: auto;
}
