@media screen and (min-width: 375px) {

.choiceList-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-image img {
  width: 500px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(130 215 233);
}

h1,
th {
  color: white;
  font-family: "Libre Baskerville", serif;
}

h2,
h3,
h4,
h5, 
.nav-link {
  color: rgb(45, 44, 44);
  font-family: "Libre Baskerville", serif;
}
.nav-link {
  font-size: 4em;
  padding-bottom: 2em;
} 
.lead {
  font-size: 3em;
}
p,
li {
  font-family: "Karla", sans-serif;
  color: rgb(99, 97, 97);
}
.recipe__image {
  width: 300px;
  height: auto;
}

.btn {
  color: white;
  background-color: rgb(43, 72, 79);
}
.navbar {
  background-color: rgb(7, 106, 103);
  
}

.dropdown-menu {
  background-color: rgb(49, 181, 176);
}
.dropdown-item:hover {
  background-color: rgb(35, 190, 190);
}
}
.truc {
  transform: translateX(-50%);
}
@media screen and (min-width: 568px) {
  .nav-link {
    font-size: 3em;
  }
  .lead {
    font-size: 3em;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 2.5em;
    
  }
}


@media screen and (min-width: 1000px) {
  .nav-link {
    font-size: 1.7em;
    padding-bottom: 0;
  }
}