.choiceList-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-image img {
  width: 500px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  background-color: #2d8b9e;
}

h1,
th {
  color: white;
  font-family: "Libre Baskerville", serif;
}

h2,
h3,
h4,
h5 {
  color: rgb(45, 44, 44);
  font-family: "Libre Baskerville", serif;
}

p,
li {
  font-family: "Karla", sans-serif;
  color: #636161;
}
.recipe__image {
  width: 300px;
  height: auto;
}

.btn {
  color: white;
  background-color: rgb(43, 72, 79);
}
.navbar {
  background-color: #076a67;
}

.dropdown-menu {
  background-color: rgb(49, 181, 176);
}
.dropdown-item:hover {
  background-color: rgb(35, 190, 190);
}
