{% extends 'base.html.twig' %}

{% block title %} Page d'Accueil {% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-5 text-center">Sandrine Coupart <br>  diététicienne-nutritionniste</h1>
        <p class="lead">Je m'appelle Sandrine Coupart et je suis diététicienne-nutritionniste dont le cabinet est situé à Caen. En tant que
            professionnelle de santé, je prends en charge des patients dans le cadre de consultations diététiques.
            J'anime également des ateliers de prévention et d’information sur la nutrition.</p>
        <hr class="my-4">
    </div>
<div class="recipes">
<h2 class="mt-4 text-center mb-3">Recettes de base</h2>
		<div class="d-flex justify-content-between flex-wrap">
			{% for recipe in recipes %}
				<div class="card border-primary mb-3" style="max-width: 20rem;">
					<div class="card-header">Recette numéro
						{{ recipe.id }}</div>
					<div class="card-body">
						<h4 class="card-title">
						<a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a></h4>*

						
						<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...'  }}</p>
					</div>
				</div>
			{% endfor %} 
		</div>
	</div>
</div>

{% endblock %}

