{% extends 'base.html.twig' %}
{% block title %} Politique de confidentialité {% endblock %}
{% block body %}
<div class="container">

<h1 class="mt-4">Politique de confidentialité</h1>


</div>
{% endblock %}



