{% extends 'base.html.twig' %}

{% block title %}Modifier le régime{% endblock %}

{% block body %}
    <h1>Modifier le régime</h1>

    {{ include('diet/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('diet.index') }}">back to list</a>

    {{ include('diet/_delete_form.html.twig') }}
{% endblock %}
